.income_table_h,.sav_table_h{     /*Table heading line or 1st row*/
	font-size: medium;
	font-weight: bold;
	color: white;
	background-color: green;
	font-family: Times New Roman;
}
.summary_table_h{     /*Table heading line or 1st row*/
	font-size: medium;
	font-weight: bold;
	color: white;
	background-color: black;
	font-family: Times New Roman;
}
.dai_table_h,.tra_table_h,.heal_table_h,.homeexp_table_h{
	font-size: medium;
	font-weight: bold;
	color: white;
	background-color: blue;
	font-family: Times New Roman;
}
.ch_table_h,.mis_table_h,.ent_table_h{
	font-size: medium;
	font-weight: bold;
	color: white;
	background-color: #8B008B;
	font-family: Times New Roman;
}

table {
	background-color: white;
}

table td{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
table td:last-child{
	border-right: none;
}

table tr:last-child{
	border-top: 4px double green;
}
/*table :last-child{
	border-top: 4px double green;
}*/
table tr:first-child{
	border-bottom:none;
	border-top:none;
}

table tr{
	padding-left: 2px;
	color: black;
}

.ch_t_lr,.mis_t_lr,.ent_t_lr{      /*last row or result*/
	color: #8B008B;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}
.dai_t_lr,.tra_t_lr,.heal_t_lr,.homeexp_t_lr{
	color: blue;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

.income_t_lr,.sav_t_lr{      /*last row or result*/
	color: green;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}
.summary_t_lr{      /*last row or result*/
	color: black;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

/*=========Table Position==========*/
.main_div_1{       /*income*/
	position: relative;
	right: 20px;
}
.main_div_2{      /*homeexp*/
	position: relative;
	right: 20px;
}
.main_div_3{	/*Daily Living*/
	position: relative;
	bottom:  200px;
	left: 630px;
	
}
.main_div_4{	/*transportation*/
	position: relative;
	left: 630px;
	top: 80px;
}
.main_div_5{	/*health*/
	position: relative;
	right: 20px;
	bottom: 290px;
}
.main_div_6{	/*child educ.*/
	position: relative;
	bottom: 550px;
	left: 630px;
}
.main_div_7{	/*entertainment*/
	position: relative;
	right: 20px;
	bottom: 1000px;
}
.main_div_8{	/*saving*/
	position: relative;
	bottom:  1750px;
	left: 630px;

}
.main_div_9{	/*Miscellaneous*/
	position: relative;
	right: 20px;
	bottom: 1120px;
}
.main_div_10{      /*summary*/
	position: relative;
	bottom:  2415px;
	left: 630px;
}
